.plans_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}
.plans h3{
    margin-bottom:.8rem;
}
.plans small{
    margin-bottom: 2rem;
}
.plan h1{
    color: var(--color-primary-variant);
    display: inline;
}
.plan h2{
    color: var(--color-gray-400);
    display: inline;
}
.plan h4{
    margin-top: 2rem;
}
.plan p{
    margin-top: 1rem;
    color: var(--color-gray-100);
}
.plan p.disable{
    color: var(--color-gray-400);
}
.plan button{
    margin-top: 3rem;
    cursor: pointer;
}





/* ======Media queries (Mediam screen)====== */
@media screen and (max-width: 1024px) {
    .plans_container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

/* ======Media queries (small screen)====== */
@media screen and (max-width: 600px) {
    .plans_container{
        grid-template-columns: 1fr;
    }
    .plan{
        width: 90%;
        margin-inline: auto;
    }
}